<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Genaker_PWA::pwa" sortOrder="10" title="pwa">
					<resource id="Genaker_PWA::index_check" sortOrder="10" title="index check"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Genaker_PWA::config_genaker_pwa" title="pwa"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
